<div class="row controls">
    <div class="col-xs-6">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for..." ng-model="$ctrl.query">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="$ctrl.onSearch({query: $ctrl.query})">search</button>
      </span>
        </div>
    </div>
    <div class="col-xs-2 col-xs-offset-4">
        <button class="btn btn-md btn-info" ui-sref="cpApp.courses.new-edit({id: 'new'})">Add course</button>
    </div>
</div>