<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin panel</title>

    <style>
        table, td, th {
            border: solid 1px #000;
        }

    </style>
</head>
<body>
    <table>
        <tr>
            <th>login</th>
            <th>role</th>
            <th>password</th>
        </tr>
        <%for (var i = 0; i < users.length; i++) {%>
            <tr>
                <td><%=users[i].login%></td>
                <td><%=users[i].role%></td>
                <td>*******</td>
            </tr>
        <%}%>
    </table>
</body>
</html>