<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/bootstrap.css'/>
    <link rel='stylesheet' href='/css/style.css'/>
    <style>
        .logout {
            float: right;
        }
    </style>
</head>
<body>

<% if (user.role === 'admin') { %>
<a href="/admin">admin</a>
<% } %>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<a href="/logout" class="btn btn-primary user-form logout">logout</a>

<div class="users-list"></div>

<script src="/js/libs/require.js" data-main="/js/app/app.js"></script>
</body>
</html>
