<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/bootstrap.css' />
    <link rel='stylesheet' href='/css/style.css' />
</head>
<body>
    <div class="container">

        <%if (message) {%>
        <row class="message"><p><%= message %></p></row>
        <%}%>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form method="get" class="login-form bg-primary">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" name="login" class="form-control" id="exampleInputEmail1" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="admin"> As admin
                        </label>
                    </div>
                    <button type="submit" formaction="/signin" class="btn btn-default">Sign In</button>
                    <button type="submit" formaction="/register" class="btn btn-default">Register</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
