html, body {
  height: 100%;
  min-height: 100%;
  position: relative;
}
div {
  box-sizing: border-box;
}
.main-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  margin: 0 -15px;
  background: gainsboro;

  .copy {
    text-align: center;
    margin-top: 15px;
    font-size: 16px;
  }
}
.wrap {
  min-height: 100%;
  position: relative;
  padding-bottom: 50px;
}
