.course {
  border: solid 2px #00b3ee;
  padding: 10px;

  .buttons {
    button {
      width: 100%;
      margin: 5px 0;
    }
  }

  .course-name {
    margin: 0;
    padding: 0;
    font-weight: 900;
  }
}