<div class="course col-xs-12">
    <div class="col-xs-8">
            <h3 class="course-name col-xs-6">
                {{$ctrl.data.name}}
            </h3>
            <p class="time col-xs-3">{{$ctrl.data.time | formatDuration}}</p>
            <p class="date col-xs-3">{{$ctrl.data.date}}</p>
        <p class="description col-xs-12">{{$ctrl.data.description}}</p>
    </div>
    <div class="col-xs-4 buttons">
        <button class="btn btn-lg btn-info" ui-sref="cpApp.courses.new-edit({id: $ctrl.data.id})">Edit</button>
        <button class="btn btn-lg btn-info" ng-click="$ctrl.remove({id: $ctrl.data.id})">Delete</button>
    </div>
</div>