<ui-view>
    <controls on-search="$ctrl.search({query})"></controls>
    <ul class="courses-list">
        <li class="courses-list-item"
            ng-repeat="item in $ctrl.courses | filter: {name: $ctrl.query} track by $index">
            <course data="item" edit="$ctrl.editCourse(data)" remove="$ctrl.removeCourse(id)"></course>
        </li>
    </ul>
</ui-view>