<div class="row">
    <a href="javascript:;" class="col-xs-4 logo" ui-sref="cpApp.login">LOGO</a>
    <div class="col-xs-4">
        <breadcrumbs></breadcrumbs>
    </div>
    <div class="col-xs-4 user">
        <p class="user-name">
            {{$ctrl.rootScope.auth.username || 'login user'}}
        </p>
        <a href="javascript:;" class="logout" ng-click="$ctrl.logout()" ng-if="$ctrl.rootScope.auth.username">log out</a>
    </div>
</div>