body {
  background: #eee !important;
}

.form-signin {
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 0 15px 35px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);

  .warning {
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 25px;
    background: #f6f2ab;
    color: #ff4d5d;
    visibility: hidden;

    &.warning-show {
      visibility: visible;
    }
  }

  .input-name {
    font: bold 16px Arial;
    line-height: 43px;
    text-transform: uppercase;
  }

  .form-signin__group {
    margin-bottom: 15px;
  }

  .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    box-sizing: border-box;

    &:focus {
      z-index: 2;
    }
  }

  input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  input {
    &.ng-invalid.ng-touched {
      border: solid 1px #FA787E;
    }

    &.ng-valid.ng-touched {
      border: solid 1px #78FA89;
    }
  }

  button[type="submit"] {
    margin-top: 20px;
  }

  .invelid {
    border: solid 1px red;
  }
}

.message {
  margin-top: 5px;
  color: red;
}

.css-form input.ng-invalid.ng-touched {
  background-color: #FA787E;
}

.css-form input.ng-valid.ng-touched {
  background-color: #78FA89;
}