<form class="form-signin col-xs-6 col-xs-offset-3" name="loginForm" novalidate>
    <div class="warning" ng-class="{'warning-show': loginForm.$error.pattern}">
        Wrong username or password
    </div>
    <div class="row form-signin__group">
        <div class="col-xs-3 input-name-wrap">
            <span class="input-name">username</span>
        </div>
        <div class="col-xs-6">
            <input type="text" class="form-signin__input col-xs-9 form-control" name="username"
                   placeholder="Email Address" autofocus="" ng-model="$ctrl.name" ng-model-options="{ updateOn: 'blur' }" required ng-pattern="$ctrl.loginPattern"/>
        </div>
        <p class="message col-xs-3" ng-show="!loginForm.password.$pristine && loginForm.username.$error.required">* Enter username</p>
    </div>
    <div class="row form-signin__group">
        <div class="col-xs-3 input-name-wrap">
            <span class="input-name">password</span>
        </div>
        <div class="col-xs-6">
            <input type="text" class="form-signin__input col-xs-9 form-control" name="password" placeholder="Password"
                   ng-model="$ctrl.password" ng-model-options="{ updateOn: 'blur' }" required ng-pattern="$ctrl.passwordPattern"/>
        </div>
        <p class="message col-xs-3" ng-show="!loginForm.password.$pristine && loginForm.password.$error.required">* Enter password</p>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="$ctrl.login(loginForm)" ng-disabled="loginForm.$error.required">Login</button>
</form>
