<ol class="breadcrumb">
    <li
            ng-repeat="item in $ctrl.breadcrumbs track by $index"
            ng-class="{ 'active': $last }">
        <a ui-sref="{{item.route}}" href="javascript:;">{{item.label}}</a>
    </li>
</ol>
