<div class="container">
    <form class="manage-courses col-xs-6 col-xs-offset-3">
        <div class="input-group">
            <span class="input-group-addon">Title</span>
            <input type="text" class="form-control" placeholder="Enter title" aria-describedby="sizing-addon2" ng-model="$ctrl.course.name">
        </div>
        <div class="input-group">
            <span class="input-group-addon">Description</span>
            <textarea rows="10" class="form-control" placeholder="Description" aria-describedby="sizing-addon2" ng-model="$ctrl.course.description"></textarea>
        </div>
        <div class="input-group">
            <span class="input-group-addon">Date</span>
            <input type="text" class="form-control" placeholder="Enter date" aria-describedby="sizing-addon2" ng-model="$ctrl.course.date">
        </div>
        <div class="input-group">
            <span class="input-group-addon">Duration</span>
            <input type="text" class="form-control" placeholder="Enter duration" aria-describedby="sizing-addon2" ng-model="$ctrl.course.time">
        </div>
        <div class="input-group">{{$ctrl.course.time | formatDuration}}</div>
        <div class="input-group">
            <button class="btn btn-primary" ng-click="$ctrl.confirm()">{{::$ctrl.state.params.id === 'new' ? 'Add' : 'Save'}}</button>
            <button class="btn btn-default" ng-click="$ctrl.cancel()">Cancel</button>
        </div>
    </form>
</div>