.manage-courses {

  margin-top: 50px;

  .input-group {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }

    .btn {
      margin: 0 10px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}